[Unit]
Description=WavDash Stem Mixer Player
After=network-online.target wavdash-receiver.service
Wants=network-online.target

[Service]
Type=simple
User=aannecchiarico
WorkingDirectory=/home/aannecchiarico/wavdash/player
Environment=WAVDASH_STEMS_DIR=/home/aannecchiarico/wavdash-stems
ExecStart=/home/aannecchiarico/env/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
